/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/

/*font-family: 'PT Sans', sans-serif;*/

.joinClub {
  padding: 0 1rem 3rem 1rem;
}

h1 {
  padding: 1.5rem 0;
}

.profilePicWrapper {
  padding: 2rem 1rem 1rem 1rem;
}

.profilePicWrapper img {
  max-width: 100%;
  border-radius: 100%;
}

.nameAndEmail, .passwords {
}

.name, .email, .password {
  padding: 0.25rem 0;
}

.additionalIn {
  padding: 1rem 0;
}

#name, #email, #firstPass, #confirmPass, #additionalIn {
  font-size: 1.25rem;
  width: 100%;
  border: 1px solid #DFDFDF;
}

.genreOptions {
  display: flex;
  flex-wrap: wrap;
}

#genresLabel {
  padding: 0.75rem 0;
  flex: 1 100%;
}

.genre {
  padding: 0.5rem 0;
  flex: 1 100%;
  box-sizing: border-box;
}

.genre input, .genre label {
  vertical-align: middle;
}

#join {
  padding: 1rem;
  background: #F5005B;
  color: #FFFFFF;
  border: none;
}

@media screen and (min-width: 545px) {
  .checkbox {
  }
}

@media screen and (min-width: 769px) {
  .checkbox {
  }
}
