/*text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF*/


/*font-family: 'PT Sans', sans-serif;*/

body {
    font-family: 'PT Sans', sans-serif;
    color: #0B1942;
    margin: 0;
}

h2 {
    color: white;
    background: #0B1942;
}

header {
    display: flex;
}

.logo {
    background: #F5005B;
    flex: 4;
}

.navBar {
    background: #7DDFE8;
    color: white;
    flex: 10;
}

.navLinks {
    padding: 0;
}

.navLinks li {
    list-style-type: none;
}

.homeNavLink {
    background: #00A5BF;
}

.calendarNavLink {
    background: #00B7D3;
}

.joinNavLink {
    background: #00D5E7;
}

.upNext {
    background: #0B1942;
}

.upNext h1 {
    color: white;
}

.immediateNextFilm {
    background: #e2e2e2;
}

.filmDiscussionPoints li {
    list-style-type: circle;
}

.otherNextFilms {
    background: #e2e2e2;
}